*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:linear-gradient(135deg,#0f172a,#1e293b);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:'Segoe UI',sans-serif;

}

.login-container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

.login-card{

width:420px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.3);

animation:fade 1s;

}

.logo{

text-align:center;

font-size:70px;

color:#2563eb;

margin-bottom:20px;

}

h2{

text-align:center;

font-weight:bold;

}

p{

text-align:center;

color:gray;

margin-bottom:25px;

}

.form-control{

height:50px;

border-radius:10px;

}

.btn{

height:50px;

font-size:18px;

border-radius:10px;

}

.footer{

margin-top:20px;

text-align:center;

color:#888;

font-size:14px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}